#title , #question {
  text-align: center;  
}

#start, #reset{
 position: relative;
 left: 50%;
 transform: translate(-50%, 0);
 height: 10vh;
 width: 20vh;
 font-size: large;
 background-color: rgb(31, 197, 183);
 border-color: gold;
}

#multiChoice {
 margin: 5vh 0 5vh 10vh;
}

#question{
  margin-bottom: 5vh;
  visibility: hidden;
}

#reset{
  display: none;
}


.abcd {
  display: inline;
  position: relative;
  height: 10vh;
  width: 20vh;
  visibility: hidden;
  left: 50%;
  transform: translate(-50%,0);
}

.choice{
  display: inline;
  position: relative;
  visibility: hidden;
  left: 40%;
  font-weight: bold;
  font-size: large;
}


